.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}
.errorMesage {
  color: tomato;
  font-size: 34px;
  text-align: center;
}
body{
  scroll-behavior: smooth;
}